@import "~reset-css/reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@import '../share/_variables';

* {
	box-sizing: border-box;
}

body {
	background: $background-color;
	color: $text-color;
	font-family: $font-family;
	font-size: 14px;
	letter-spacing: 0.1rem;
}

a {
	color: $text-color;
	text-decoration: none;
}
