@import '../share/_variables';

.textfield {
	width: 100%;
	min-height: 100px + 20px + 2px;
	padding: 10px 15px;
	border: $border-color-strong 1px solid;
	border-radius: 4px;
	font-family: $font-family;
	font-size: 18px;
	line-height: 25px;

	&:focus {
		outline: 0;
		border-color: $color-primary;
	}
}